main {
    /* padding: 0 2em 2em 0em; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 200px;
    background-color: #fef6c2;

}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(background.gif);
    background-color: #fcebb6;
    font-family: Verdana, Arial, sans-serif;
    color: #221811;
}

header {
    background-color: #D2B48C;
    height: 150px;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav a:link{
    color: #fef6c2;
}

nav a:visited{
    color: #d2b48c;
}

nav a:hover{
    color: #CC9933;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    clear: left;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    max-width: 1280px;
    min-width: 900px;
    box-shadow: 5px 5px 5px #828282;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

#heroroad {
    background-image: url(images/heroroad.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

#heromugs {
    background-image: url(heromugs.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

#heroguitar {
    background-image: url(heroguitar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

footer {
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header, nav, main, footer { display: block; }

table{
    margin: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}

td,th{
    padding: 10px;
}

tr:nth-of-type(odd){background-color: #d2b48e;}

form{
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

#herojobs{
    background-image: url(herojobs.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}
